/* line 11, /home/ubuntu/workspace/rollthebones/app/assets/stylesheets/rolls.scss */
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

/* line 18, /home/ubuntu/workspace/rollthebones/app/assets/stylesheets/rolls.scss */
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  background-color: grey;
  flex: 1;
}

/* line 27, /home/ubuntu/workspace/rollthebones/app/assets/stylesheets/rolls.scss */
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 33, /home/ubuntu/workspace/rollthebones/app/assets/stylesheets/rolls.scss */
.rolls-container {
  min-height: 450px;
}

/* line 37, /home/ubuntu/workspace/rollthebones/app/assets/stylesheets/rolls.scss */
.buff-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

/* line 44, /home/ubuntu/workspace/rollthebones/app/assets/stylesheets/rolls.scss */
.buff-list-item {
  display: flex;
  align-items: center;
  max-width: 350px;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  list-style-type: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 5px 0 0;
}

/* line 58, /home/ubuntu/workspace/rollthebones/app/assets/stylesheets/rolls.scss */
.buff-list-item:last-child {
  margin-right: 0;
}

/* line 62, /home/ubuntu/workspace/rollthebones/app/assets/stylesheets/rolls.scss */
.roll-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
  margin: 0 0 25px 0;
}

/* line 77, /home/ubuntu/workspace/rollthebones/app/assets/stylesheets/rolls.scss */
.buff-icon {
  width: 50px;
  height: 50px;
  border: 0;
  background-color: black;
  opacity: 0.1;
}

/* line 85, /home/ubuntu/workspace/rollthebones/app/assets/stylesheets/rolls.scss */
.broadsides {
  opacity: 1;
  background: url("broadsides.jpg") center;
}

/* line 90, /home/ubuntu/workspace/rollthebones/app/assets/stylesheets/rolls.scss */
.buried-treasure {
  opacity: 1;
  background: url("buried_treasure.jpg") center;
}

/* line 94, /home/ubuntu/workspace/rollthebones/app/assets/stylesheets/rolls.scss */
.grand-melee {
  opacity: 1;
  background: url("grand_melee.jpg") center;
}

/* line 98, /home/ubuntu/workspace/rollthebones/app/assets/stylesheets/rolls.scss */
.jolly-roger {
  opacity: 1;
  background: url("jolly_roger.jpg") center;
}

/* line 102, /home/ubuntu/workspace/rollthebones/app/assets/stylesheets/rolls.scss */
.shark-infested-waters {
  opacity: 1;
  background: url("shark_infested_waters.jpg") center;
}

/* line 106, /home/ubuntu/workspace/rollthebones/app/assets/stylesheets/rolls.scss */
.true-bearing {
  opacity: 1;
  background: url("true_bearing.jpg") center;
}

/* line 111, /home/ubuntu/workspace/rollthebones/app/assets/stylesheets/rolls.scss */
.jumbotron {
  display: flex;
  align-items: center;
  background-size: cover;
  color: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 122, /home/ubuntu/workspace/rollthebones/app/assets/stylesheets/rolls.scss */
#site-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 80px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* line 132, /home/ubuntu/workspace/rollthebones/app/assets/stylesheets/rolls.scss */
.rtb-button {
  display: block;
  opacity: 0.8;
  width: 100px;
  height: 100px;
  line-height: 50px;
  border: 5px solid #028482;
  border-radius: 50%;
  margin-bottom: 25px;
  color: #f5f5f5;
  background: url("rollthebones.jpg") center no-repeat;
  background-size: cover;
  box-shadow: -3px 0 3px gray;
}
/* line 146, /home/ubuntu/workspace/rollthebones/app/assets/stylesheets/rolls.scss */
.rtb-button:hover {
  transform: scale(1.1);
  opacity: 1;
}
/* line 149, /home/ubuntu/workspace/rollthebones/app/assets/stylesheets/rolls.scss */
.rtb-button:disabled {
  transform: scale(1);
  opacity: 0.3;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

